.skills {
   padding: 4rem 0;
   margin: 0 8rem 0 8rem;

}

@media (max-width: 768px) {
   
   .skills {
      margin: 0 0rem 0 0rem;
   }
   
   .skills__line {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }
}

@media (max-width: 425px) {

   .skills {
      margin: 0 0rem 0rem 0rem;
   }

   .skills__line {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }

}