.menu__list__link {
    text-decoration: none;
    color: #000000;
    transition: all .1s ease-in-out;
}

.menu__list__link.activo {
    color: #333333;
    font-weight: bold;
}

.menu__list__link:hover {
    text-decoration: none;
    color: #8b008b;
    font-weight: bold;
    font-size: 20px;
}