.title__network {
    display: flex;
    list-style: none;
    gap: 10px;
}

.title__network a {
    text-decoration: none;
    color: #000000;
}

.title__network a:hover {
    font-size: 17.5px;
    font-weight: bold;
    color: #a52a2a;
}