.title__div {
    display: flex;
    align-items: center;
    margin: 2.5vw 8vw;
  }

  @media (max-width: 425px) {
    
    .title__div {
      display: block;
    }

    .title__profile {
      margin: 2rem 0 2rem 0;
    }

    .title__network {
      display: flex;
      flex-wrap: wrap;
    }

    .title__network li {
      flex: 1;
      width: 100%;
      max-width: 100%;
    }
  }

  